
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2>O autorze</h2>
Autorem strony jest <b>Mateusz Werpachowski</b> znany jako Brajan.
<br />Oprócz świetnych artukułów sam ogarnia front-end.
<br /><br />Osobą odpowiedzialną za back-end jest <b>Michał Sadowski</b> w świcie znany jako człowiek Sadol.
<br /><br />Strona jak narazie powstaje w celach edukacyjnych :)
<br />Posiadamy repozytorjum na githubie dostępne <a href="https://github.com/JohnPriceSky/ShadoWarp/">TUTAJ</a>
<br />
<br />
<br />
<h3>Użyte Technologie:</h3>
<h4>Front-end:</h4>
<img src="~/Public/Img/front-end.png" />
<h4>Back-end:</h4>
<img src="~/Public/Img/back-end.png" />