
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@model ShadoWarp.Models.AnkietaModelView

<h2>@Model.ans</h2>
<br />
@Model.komentarz
<br />
@Model.iloscGlosow osób tak zagłosowało
<br />
<a href="/">Powrót</a>