
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2>News</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec augue in nisi aliquam sagittis. 
Phasellus quis lectus non justo blandit sagittis et in enim. Donec elementum nulla nec nulla rutrum tincidunt. 
Maecenas at elit nulla. In risus lorem, euismod nec aliquet sed, egestas vitae risus. Proin a gravida dolor. 
Curabitur ac nisi sit amet velit rhoncus maximus. Fusce fermentum ultrices arcu a gravida. Aliquam vitae mattis lectus. 
Nam vitae nulla suscipit, pulvinar urna id, venenatis felis. Donec euismod, purus ac lacinia lobortis, 
ante sapien scelerisque neque, vel scelerisque nisl nibh vel urna.<br /><br />
Aenean eget libero maximus, iaculis arcu vel, ullamcorper felis. Maecenas consectetur ut arcu eu fermentum. 
Sed ornare id quam et eleifend. Quisque non augue in eros pretium lacinia. Fusce feugiat eu ipsum quis congue. 
Nam rhoncus, ex vitae aliquet varius, libero dolor maximus ex, sit amet rhoncus tortor dolor vitae tortor. 
Vestibulum hendrerit vel ligula non venenatis. Phasellus a nisi quis eros maximus pulvinar sed ac magna. 
Aenean sed neque accumsan, pretium erat nec, malesuada arcu. Fusce ut viverra diam. Pellentesque non pellentesque risus. 
Ut libero odio, elementum eu luctus tincidunt, rutrum ac augue. 
Fusce enim nisl, scelerisque in risus eu, scelerisque viverra orci. Proin dignissim in metus non pulvinar.
