.innershadow
{  
   background-color: #400000;
   width:160px;
   padding: 10px;

   -moz-box-shadow: inset 0 0 15px gold;
   -webkit-box-shadow: inset 0 0 15px gold;
   box-shadow: inset 0 0 15px gold;
}
.darkshadow
{   
   box-shadow: 10px 10px 15px #000;
   -webkit-box-shadow: 10px 10px 15px #000;
   -moz-box-shadow: 10px 10px 15px #000;
}
.lightshadow
{  
   background-color: #999;
   padding: 10px;
   color: #fff;
   
   box-shadow: 4px 4px 2px #ffc;
   -webkit-box-shadow: 4px 4px 2px #ffc;
   -moz-box-shadow: 4px 4px 2px #ffc;
}
p { margin:10px; padding:20px; font-size:larger; }
h1 { text-align:left; font-family: 'Open Sans', sans-serif; color:royalblue; }
h2 { text-align:left; font-family: 'Roboto', sans-serif; color:#7FC2FF; }
h3 { text-align:left; font-family: 'Roboto', sans-serif; margin-left:50px; padding:20px;}
body
{ 
    background-image: url('../Img/HD-Wood-Grain-Background.jpg');
    text-align: center;
    font-family:'Open Sans', sans-serif;
    color:#ADD4FF;
    margin-left:10%;
    margin-right:10%;
    
}
.contener
{
    border: groove #FF8040 5px;
    background-color: #121218;
}
header, footer 
{
    padding: 1em;
    color: white;
    background-color: #333333;
    clear: left;
}
footer a { color:yellow; text-decoration:none; }
footer a:hover{ color:orange; }
footer a:visited{ color:rebeccapurple}
aside 
{
    float: left;
    max-width: 20%;
    margin: 0;
    padding: 1em;
}
article 
{
    padding: 1em;
    overflow: hidden;
    text-align: left;
    font-size: larger;
    border-left: 2px groove orange;
}
ul 
{
    clear: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
}

li {float: left;}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover 
{
    background-color: #111111;
}

